In [2]:
import pandas as pd
import numpy as np

s1 = pd.Series([7.3, -2.5, 3.4, 1.5],index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],index=['a', 'c', 'e', 'f', 'g'])

display(s1)
display(s2)
#使用數學運算子的運算
display(s1 + s2)
#使用實體方法的運算
s1.add(s2,fill_value=0)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

a    5.2
c    1.1
d    3.4
e    0.0
f    4.0
g    3.1
dtype: float64

In [4]:
#sort_index()
s1=pd.Series(range(4),index=['c','b','d','a'])
display(s1)
display(s1.sort_index())
display(s1.sort_index(ascending=False))

c    0
b    1
d    2
a    3
dtype: int64

a    3
b    1
c    0
d    2
dtype: int64

d    2
c    0
b    1
a    3
dtype: int64

In [5]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
             index = ['three', 'one'],
             columns = ['d', 'a', 'b', 'c']
             )
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [6]:
display(frame)
display(frame.sort_index())
display(frame.sort_index(axis='columns'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [18]:
frame=pd.DataFrame({'b':[5,13,-7,6],
                    'a':[0,1,7,4]
                    })
display(frame)
display(frame.sort_values(by='b'))
display(frame.sort_values(by=['a','b']))

    b  a
0   5  0
1  13  1
2  -7  7
3   6  4

    b  a
2  -7  7
0   5  0
3   6  4
1  13  1

    b  a
0   5  0
1  13  1
3   6  4
2  -7  7

In [27]:
#rank()
obj = pd.Series([7, -9, 7, 4, 2, 0, 8])
display(obj)
display(obj.rank(method='average'))
display(obj.rank(method='first'))
display(obj.rank(method='min'))

0    7
1   -9
2    7
3    4
4    2
5    0
6    8
dtype: int64

0    5.5
1    1.0
2    5.5
3    4.0
4    3.0
5    2.0
6    7.0
dtype: float64

0    5.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    7.0
dtype: float64

0    5.0
1    1.0
2    5.0
3    4.0
4    3.0
5    2.0
6    7.0
dtype: float64