In [7]:
import pandas as pd
import numpy as np

frame=pd.DataFrame(data=np.random.randn(4,3),
                   columns=['b','g','h'],
                   index=["台東","台北","宜蘭","新竹"])
frame

           b         g         h
台東  1.350669  0.316783  1.025937
台北 -0.429988 -0.258107 -0.364039
宜蘭  0.583290  0.030712  2.456848
新竹  0.808905 -1.168441  0.085181

In [8]:
display(np.mean(frame,axis=0))
display(np.mean(frame,axis=1))

b    0.578219
g   -0.269763
h    0.800982
dtype: float64

台東    0.897797
台北   -0.350711
宜蘭    1.023617
新竹   -0.091452
dtype: float64

In [9]:
#dataFrame.mean()
display(frame.mean())
display(frame.mean(axis=1))

b    0.578219
g   -0.269763
h    0.800982
dtype: float64

台東    0.897797
台北   -0.350711
宜蘭    1.023617
新竹   -0.091452
dtype: float64

In [10]:
frame.loc['台北'].mean()

-0.35071100148422185

In [11]:
np.mean(frame.loc['台北'])

-0.35071100148422185