In [1]:
import numpy as np
score=np.array([98,69,78,99,76])
score

array([98, 69, 78, 99, 76])

In [2]:
import pandas as pd
s1=pd.Series([98,69,78,66,99],index=['國文','數學','英文','歷史','體育'])
s1

國文    98
數學    69
英文    78
歷史    66
體育    99
dtype: int64

In [3]:
s1+1

國文     99
數學     70
英文     79
歷史     67
體育    100
dtype: int64

In [4]:
for i in s1:
    print(i)

98
69
78
66
99

In [5]:
#numpy的統計,可以用在pandas
np.sum(s1)#加總

410

In [6]:
np.mean(s1)#平均

82.0

In [7]:
np.std(s1)#標準差

14.042791745233567

In [8]:
np.median(s1)#中間值

78.0

In [12]:
import pandas as pd
pd.DataFrame({
    "Lia":[91,56,93,94,74],
    "Shownu":[87,76,86,91,96],
},index=['國文','數學','英文','歷史','體育'])

    Lia  Shownu
國文   91      87
數學   56      76
英文   93      86
歷史   94      91
體育   74      96

In [14]:
import numpy as np
import pandas as pd
data=np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index=range(1,51,),
             columns=['國文','數學','英文','歷史','體育'])

    國文  數學  英文  歷史  體育
1   72  87  70  96  68
2   72  66  83  76  99
3   67  70  90  63  69
4   77  66  90  76  84
5   94  89  78  94  62
6   91  68  99  79  64
7   68  74  71  82  68
8   88  92  75  75  93
9   70  70  63  67  61
10  67  91  91  76  86
11  64  83  83  92  72
12  66  60  62  61  94
13  91  88  67  82  83
14  90  60  65  87  69
15  85  63  60  99  70
16  67  80  88  90  74
17  78  72  97  83  80
18  83  67  76  77  96
19  73  73  99  77  98
20  69  72  73  90  74
21  66  79  90  71  63
22  89  62  88  79  89
23  91  88  69  81  82
24  97  94  94  99  64
25  81  70  88  73  79
26  61  83  91  67  74
27  81  96  69  63  67
28  83  86  98  64  94
29  80  90  97  79  71
30  72  95  88  96  89
31  86  66  94  94  99
32  84  72  85  68  85
33  85  93  65  82  97
34  79  85  75  73  79
35  66  93  63  85  95
36  64  63  86  80  85
37  78  71  85  94  91
38  70  76  99  80  73
39  70  80  64  88  73
40  68  81  86  75  63
41  90  74  79  76  84
42  67  73  94  60  98
43  60  88  79  83  85
44  62  97  73  98  92
45  64  94  96  94  94
46  64  60  97  62  73
47  65  98  97  85  71
48  82  82  69  80  77
49  99  85  61  73  99
50  66  73  77  96  65