In [1]:
import pandas as pd
df = pd.read_csv('學生成績.csv')

In [2]:
df.iloc[2]

學號       3
姓名     李政白
國文      70
英文      78
數學      59
歷史      60
生物      50
總分     317
平均    63.4
Name: 2, dtype: object

In [3]:
df[:4]

   學號   姓名  國文  英文  數學  歷史  生物   總分    平均
0   1  龐皓芳  55  80  81  84  84  384  76.8
1   2  蔡欣汝  76  57  91  74  73  371  74.2
2   3  李政白  70  78  59  60  50  317  63.4
3   4  錢欣潔  67  72  95  98  80  412  82.4

In [4]:
df['國文']

0     55
1     76
2     70
3     67
4     69
5     67
6     59
7     68
8     73
9     72
10    70
11    82
12    71
13    70
14    68
15    66
16    99
17    74
18    83
19    91
20    78
21    86
22    51
23    67
24    60
25    65
26    71
27    63
28    96
29    84
Name: 國文, dtype: int64

In [5]:
name_s=df['姓名']
print(name_s[4])
print("=========")
display(pd.DataFrame(name_s[:5]))
print("=========")
print(name_s[-3:])
print("=========")
print(name_s[5:13])

戚亨
=========

    姓名
0  龐皓芳
1  蔡欣汝
2  李政白
3  錢欣潔
4   戚亨

=========
27    楊易政
28    林康亮
29    陳得映
Name: 姓名, dtype: object
=========
5     林希啟
6     盧冠發
7     許淑婷
8     張慧君
9     游倫城
10    李慈啟
11    王怡君
12    黃婷婷
Name: 姓名, dtype: object