In [3]:
import pandas as pd
import numpy as np

s1=pd.Series([3.8,8.9,6.7,4.8],index=["d",'b','a','c'])
s1

d    3.8
b    8.9
a    6.7
c    4.8
dtype: float64

In [5]:
#reindex()
s1.reindex(['a','b','c'])

a    6.7
b    8.9
c    4.8
dtype: float64

In [7]:
np.arange(11)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [8]:
frame = pd.DataFrame(np.arange(9).reshape(3, 3),
             index=['a','c','d'],
             columns=['台北', '台東', '宜蘭'])
frame

   台北  台東  宜蘭
a   0   1   2
c   3   4   5
d   6   7   8

In [9]:
frame.reindex(['a','c'])

   台北  台東  宜蘭
a   0   1   2
c   3   4   5

In [11]:
frame.reindex(['a','d'],columns=['台東','台北','宜蘭'])

   台東  台北  宜蘭
a   1   0   2
d   7   6   8